.card{

  background-color: rgb(85, 195, 228,0.6);
  border-radius: 6px;
   opacity: 0.7;
   padding: 5rem;
    display: inline-block;
    box-shadow: 0px 1px 10px 8px rgb(167, 159, 236);
    z-index: 0;
    
}